@import "mixin.scss	";
.loading{
	position: fixed;

	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999 !important;
	display: none;
	align-items:center;

	
}
.loader
{
	display: flex;
	position: fixed;
	left: 0;
		background: rgba(0,0,0,.3);
	height: 100%;
	width: 100%;
	top: 0;
	align-items:center;

}
.loading-area
	{
	
		position: relative;
		display:block;
		margin: 0 auto;

	}

	span.loader-def{
			float: left;
			height:25px;
			width: 25px;
			border-radius: 100%;
			display: block;
			margin:0px 10px;
			
		}
		.loader-def1{
				background: #007bff;
				@include animation(move .9s ease-in-out -0.25s infinite alternate);
			}
			.loader-def2
			{
				background: #23CCEF ;
					@include animation(move .9s ease-in-out -0.50s infinite alternate);
			}
			.loader-def3
			{
				background: #59d05d;
					@include animation(move .9s ease-in-out -0.75s infinite alternate);
			}
			.loader-def4
			{
				background: #fbad4c ;
					@include animation(move .9s ease-in-out -1s infinite alternate);
			}
			.loader-def5{
				background: #ff646d ;
					@include animation(move .9s ease-in-out -1.25s infinite alternate);
			}


@include keyframes(move)
{
	from{
		@include transform(translateY(-30px));
	}
	to{
			@include transform(translateY(20px));
	}
}

.area-to-place
{
	margin-bottom: 5px;
	box-shadow: none !important;
}
.modal-priview
{
	max-width: 100% !important;
	min-width: 100% !important;
}
#quick-priview
{

.modal-content
{
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: #fff !important;
 display: block;
 min-width: 100%;
 max-width: 100%;
 min-height: 100%;
 max-height: 100%;
}
}
.modal-priview
{
	background: #fff;
	padding-right: 0px !important;
	 position: fixed;
 top: -30px;
 left: 0;
 width: 100%;
 height: 100%;


}
.priview-data
{
	width: 100%;
	position: fixed;
	background: #fff;
	height: 100%;
	@include overflow-x(hidden);
	@include overflow-y(scroll);

}
.priview-close
{
	//background: #FF646D;
	position: fixed;
	width: 0;
	height: 0;
	border-right: 80px solid #FF646D;
	border-bottom: 80px solid transparent;
	opacity: .3;
	@include transition(.2s ease-in-out);
	&:hover{
		opacity: 1;
	}

	top: 0;
	right: 17px;
		z-index: 999999999999999999999;
		cursor: pointer;
		button{
			position: relative;
			right: -60px;
			top: 10px;
			font-size: 30px;

			color: #fff;
			&:hover,&:focus,&:active{
				color:#fff;
			}
		}	
}
.warning-mode
{
	position: fixed;
	padding: 10px 20px;
	color: #fff;
	border-radius: 2px;
	overflow: hidden;
	margin:0 auto;
	left: 0;
	max-width: 250px;
	right: 0;
	justify-content:center;
	top: 10px;
	opacity: 0;
	display: flex;
	background: rgba(0,0,0,.6);
	z-index: 9999999;
	@include animation(to_hide 1s linear);
	h5{
		margin-bottom: 0px !important;
		padding-bottom: 0px !important;
	}
}
@include keyframes(to_hide){
	0%{
		opacity: 1;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}