* {
  margin: 0;
  padding: 0; }

.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999 !important;
  display: none;
  align-items: center; }

.loader {
  display: flex;
  position: fixed;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  top: 0;
  align-items: center; }

.loading-area {
  position: relative;
  display: block;
  margin: 0 auto; }

span.loader-def {
  float: left;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  display: block;
  margin: 0px 10px; }

.loader-def1 {
  background: #007bff;
  animation: move 0.9s ease-in-out -0.25s infinite alternate;
  -o-animation: move 0.9s ease-in-out -0.25s infinite alternate;
  -webkit-animation: move 0.9s ease-in-out -0.25s infinite alternate;
  -ms-animation: move 0.9s ease-in-out -0.25s infinite alternate;
  -moz-animation: move 0.9s ease-in-out -0.25s infinite alternate; }

.loader-def2 {
  background: #23CCEF;
  animation: move 0.9s ease-in-out -0.5s infinite alternate;
  -o-animation: move 0.9s ease-in-out -0.5s infinite alternate;
  -webkit-animation: move 0.9s ease-in-out -0.5s infinite alternate;
  -ms-animation: move 0.9s ease-in-out -0.5s infinite alternate;
  -moz-animation: move 0.9s ease-in-out -0.5s infinite alternate; }

.loader-def3 {
  background: #59d05d;
  animation: move 0.9s ease-in-out -0.75s infinite alternate;
  -o-animation: move 0.9s ease-in-out -0.75s infinite alternate;
  -webkit-animation: move 0.9s ease-in-out -0.75s infinite alternate;
  -ms-animation: move 0.9s ease-in-out -0.75s infinite alternate;
  -moz-animation: move 0.9s ease-in-out -0.75s infinite alternate; }

.loader-def4 {
  background: #fbad4c;
  animation: move 0.9s ease-in-out -1s infinite alternate;
  -o-animation: move 0.9s ease-in-out -1s infinite alternate;
  -webkit-animation: move 0.9s ease-in-out -1s infinite alternate;
  -ms-animation: move 0.9s ease-in-out -1s infinite alternate;
  -moz-animation: move 0.9s ease-in-out -1s infinite alternate; }

.loader-def5 {
  background: #ff646d;
  animation: move 0.9s ease-in-out -1.25s infinite alternate;
  -o-animation: move 0.9s ease-in-out -1.25s infinite alternate;
  -webkit-animation: move 0.9s ease-in-out -1.25s infinite alternate;
  -ms-animation: move 0.9s ease-in-out -1.25s infinite alternate;
  -moz-animation: move 0.9s ease-in-out -1.25s infinite alternate; }

@-webkit-keyframes move {
  from {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -moz-transform: translateY(-30px); }
  to {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -moz-transform: translateY(20px); } }
@-moz-keyframes move {
  from {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -moz-transform: translateY(-30px); }
  to {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -moz-transform: translateY(20px); } }
@-o-keyframes move {
  from {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -moz-transform: translateY(-30px); }
  to {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -moz-transform: translateY(20px); } }
@-ms-keyframes move {
  from {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -moz-transform: translateY(-30px); }
  to {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -moz-transform: translateY(20px); } }
@keyframes move {
  from {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -moz-transform: translateY(-30px); }
  to {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -moz-transform: translateY(20px); } }
.area-to-place {
  margin-bottom: 5px;
  box-shadow: none !important; }

.modal-priview {
  max-width: 100% !important;
  min-width: 100% !important; }

#quick-priview .modal-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff !important;
  display: block;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%; }

.modal-priview {
  background: #fff;
  padding-right: 0px !important;
  position: fixed;
  top: -30px;
  left: 0;
  width: 100%;
  height: 100%; }

.priview-data {
  width: 100%;
  position: fixed;
  background: #fff;
  height: 100%;
  overflow-x: hidden;
  -moz-overflow-x: hidden;
  -o-overflow-x: hidden;
  -webkit-overflow-x: hidden;
  -ms-overflow-x: hidden;
  overflow-y: scroll;
  -moz-overflow-y: scroll;
  -o-overflow-y: scroll;
  -webkit-overflow-y: scroll;
  -ms-overflow-y: scroll; }

.priview-close {
  position: fixed;
  width: 0;
  height: 0;
  border-right: 80px solid #FF646D;
  border-bottom: 80px solid transparent;
  opacity: .3;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  top: 0;
  right: 17px;
  z-index: 999999999999999999999;
  cursor: pointer; }
  .priview-close:hover {
    opacity: 1; }
  .priview-close button {
    position: relative;
    right: -60px;
    top: 10px;
    font-size: 30px;
    color: #fff; }
    .priview-close button:hover, .priview-close button:focus, .priview-close button:active {
      color: #fff; }

.warning-mode {
  position: fixed;
  padding: 10px 20px;
  color: #fff;
  border-radius: 2px;
  overflow: hidden;
  margin: 0 auto;
  left: 0;
  max-width: 250px;
  right: 0;
  justify-content: center;
  top: 10px;
  opacity: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999999;
  animation: to_hide 1s linear;
  -o-animation: to_hide 1s linear;
  -webkit-animation: to_hide 1s linear;
  -ms-animation: to_hide 1s linear;
  -moz-animation: to_hide 1s linear; }
  .warning-mode h5 {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important; }

@-webkit-keyframes to_hide {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes to_hide {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-o-keyframes to_hide {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-ms-keyframes to_hide {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes to_hide {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*# sourceMappingURL=custom.css.map */
