@import 'mixin';
.chat
{
	position: fixed;
	bottom: 0;
	max-width: 400px;
	right: 50px;
	display: block;
	overflow: hidden;
	z-index: 999999999999999999999999;
	.chat-button
	{
		position: fixed;
		//bottom: -100px;
		right: 60px;
		z-index: 999;
		bottom: 40px;
		


		button{
			font-size: 35px;
			background: #F8CD3A;
			color: #fff;
			height: 60px;
			width: 60px;
			border-radius: 100%;
			@include normal-button();
			position: relative;
			i{
				@include animation(shakes 2s linear infinite);
				position: relative;
			}
		}
	}
}

@include keyframes(shakes)
{
	0%{
		@include transform(rotate(-10deg));
	}
	5%{
		@include transform(rotate(10deg));
	}
	10%{
		@include transform(rotate(-10deg));
	}
	15%{
		@include transform(rotate(10deg));
	}
	20%{
		@include transform(rotate(0deg));
	}
	40%{
		@include transform(rotate(0deg));
	}
	50%{
		@include transform(rotate(0deg));
	}
	60%{
		@include transform(rotate(0deg));
	}
	70%{
		@include transform(rotate(0deg));
	}
	80%{
		@include transform(rotate(0deg));
	}
	90%{
		@include transform(rotate(0deg));
	}
	100%{
		@include transform(rotate(0deg));
	}
	



}

.chat-area
{
	padding: 10px 10px 50px 10px;
	font-size: 16px !important;
	margin-bottom: -500px;
	
	.chat-container{
		@include box-shadow(0px 0px 10px 0px rgba(0,0,0,.2));
		background: #fff;
		padding: 5px 20px 50px 20px;
		overflow: hidden;
		border-radius: 2.5px;
	}	
	.chat-header
	{
		width: 100%;
		padding: 10px 0 20px 0 ;
		overflow: hidden;
		button{
			@include normal-button();
			background: transparent;
			color: rgba(0,0,0,.7);
			float: right;
			font-size: 16px;

		}
	}
	.send_button
	{
		padding: 10px 0;
		button{
			float: right;
			color: rgba(0,0,0,.7);
			background: transparent;
			@include normal-button();
			border-radius: 2.5px;
			overflow: hidden;
			@include transition(.2s ease);
			font-size: 16px;
				background: #F8CD3A;
				color: #fff;
				overflow: hidden;
			padding: 4px 20px 8px 20px;
			&:hover >span{
				left: 10px;

			}
			span{
				font-size: 25px;
				position: relative;
				top: 2.5px;
				left: 5px;
				@include transition(.2s ease);

			}

		}
	}
	.label{
		width: 100%;
		text-align: left;
		padding: 10px 0;
		color: rgba(0,0,0,.6);
		border-radius: 2.5px;

	}
	input{
		width: 100%;
		padding: 10px 10px; 
		width:250px;
		overflow: hidden;
		border-radius: 2.5px;
		border:1.2px solid rgba(0,0,0,.2);
		color: rgba(0,0,0,.7);
			font-size: 16px !important;
		&:focus{
			outline: 0;
		}
		&::-webkit-input-placeholder{
			color: rgba(0,0,0,.6);
		}
	}
	textarea{
		width: 100%;
		padding: 5px 10px; 
			font-size: 16px !important;
		width:250px;
		&:focus{
			outline: 0;
		}
		height: 100px;
		resize:none;
		border-radius: 2.5px;
		overflow: hidden;
		border:1.2px solid rgba(0,0,0,.2);
		appearance:none;
		color: rgba(0,0,0,.7);
		&::-webkit-input-placeholder{
			color: rgba(0,0,0,.6);
		}
	}

}