.search-unres.active.unscroll {
  background: #fff;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.02);
  -o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.02);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.02);
  -ms-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.02); }
