@import url(font-awesome.min.css);
.list-type {
  padding-top: 80px; }

.list-dat-type {
  border: 0;

    -webkit-appearance:none ;
    -moz-appearance:none ;
    -o-appearance:none ;
    -ms-appearance:none ;

   }
   .list-dat-type::before
   {
    top: 0;
    right: 0;
    font-family: ion;
    content: "\f123";
    font-size: 14px;
    position: absolute;
    background: red;
    height: 20px;
    width: 10px;

   }
  .list-dat-type:focus {
    outline: 0; }
    .list-dat-type:focus option {
      outline: 0; 

    }

.content-data-list .menu-filter-data {
  color: #717171 !important;
  float: right;
  display: block;
  font-size: 16px !important;
  width: 30%;
  overflow: hidden; }
  .content-data-list .menu-filter-data .check {
    width: 100%; }
    .content-data-list .menu-filter-data .check .list-check {
      float: left;
      overflow: hidden;
      width: 50%;
      padding: 0px 10px;
      box-sizing: border-box; }
      .content-data-list .menu-filter-data .check .list-check input {
        box-sizing: border-box;
        width: 100%;
        z-index: 99;
        overflow: hidden !important;
        font-size: 16px;
        padding: 6px 5px; }
        .content-data-list .menu-filter-data .check .list-check input::-webkit-input-placeholder {
          color: #616161; }
        .content-data-list .menu-filter-data .check .list-check input:focus {
          outline: 0; }
  .content-data-list .menu-filter-data .acordion-list {
    width: 100%;
    -webkit-transition: 9s ease;
    -moz-transition: 9s ease;
    -o-transition: 9s ease;
    -ms-transition: 9s ease;
    transition: 9s ease; }
    .content-data-list .menu-filter-data .acordion-list .acord-data {
      width: 100%; }
      .content-data-list .menu-filter-data .acordion-list .acord-data .acord-onoff {
        width: 100%;
        color: #717171;
        background: #F2F2F2;
        margin: 2px 0;
        border: 0;
        padding: 15px 10px !important;
        text-align: left; }
        .content-data-list .menu-filter-data .acordion-list .acord-data .acord-onoff:focus {
          outline: 0; }
        .content-data-list .menu-filter-data .acordion-list .acord-data .acord-onoff span {
          float: left; }
        .content-data-list .menu-filter-data .acordion-list .acord-data .acord-onoff i {
          float: right;
          font-weight: normal !important;
          font-size: 16px !important; }
    .content-data-list .menu-filter-data .acordion-list .acord-content {
      height: 0px;
      overflow: hidden;
      width: 100%;
      list-style: none;
      border-left: 1px solid;
      border-right: 1px solid;
      border-color: transparent;
      box-sizing: border-box;
      padding: 0px 1px;
      height: auto;
      display: none; }
      .content-data-list .menu-filter-data .acordion-list .acord-content label {
        cursor: pointer; }
      .content-data-list .menu-filter-data .acordion-list .acord-content .list-type {
        float: left;
        width: 50%;
        padding: 5px 0; }
      .content-data-list .menu-filter-data .acordion-list .acord-content ul {
        padding: 10px 0; }
        .content-data-list .menu-filter-data .acordion-list .acord-content ul li {
          cursor: pointer;
          padding: 4px 0; }
          .content-data-list .menu-filter-data .acordion-list .acord-content ul li i {
            color: #F8CD3A; }
.content-data-list .menu-book-list {
  float: left;
  height: auto;
  width: 70%;
  overflow: hidden; }
  .content-data-list .menu-book-list .list-book {
    display: none; }
  .content-data-list .menu-book-list .list-data {
    width: 100%;
    float: none;
    padding: 10px 15px 10px 0px;
    overflow: hidden;
    box-sizing: border-box; }
    .content-data-list .menu-book-list .list-data .data-content {
      width: 100%; }
      .content-data-list .menu-book-list .list-data .data-content .item-content {
        width: 60% !important;
        overflow: hidden;
        float: left; }
        .content-data-list .menu-book-list .list-data .data-content .item-content ul li i {
          font-size: 17px !important; }
        .content-data-list .menu-book-list .list-data .data-content .item-content ul li span {
          font-size: 14px; }
      .content-data-list .menu-book-list .list-data .data-content .item-content-data-b {
        float: left;
        width: 40%;
        height: 203px; }
        .content-data-list .menu-book-list .list-data .data-content .item-content-data-b .list-dec {
          padding-top: 30px;
          width: auto;
          width: 100%; }
          .content-data-list .menu-book-list .list-data .data-content .item-content-data-b .list-dec div {
            padding: 3px 0; }
          .content-data-list .menu-book-list .list-data .data-content .item-content-data-b .list-dec span {
            padding: 4px	 0; }
            .content-data-list .menu-book-list .list-data .data-content .item-content-data-b .list-dec span.awal {
              text-decoration: line-through;
              font-size: 14px; }
            .content-data-list .menu-book-list .list-data .data-content .item-content-data-b .list-dec span.akhir {
              font-size: 17px; }
          .content-data-list .menu-book-list .list-data .data-content .item-content-data-b .list-dec button {
            padding: 7px 10px;
            font-size: 15px !important;
            top: 10px;
            color: #fff;
            background: #F8CD3A;
            border: 1.4px solid #F8CD3A; }
            .content-data-list .menu-book-list .list-data .data-content .item-content-data-b .list-dec button:hover {
              background: transparent;
              color: #F8CD3A; }
            .content-data-list .menu-book-list .list-data .data-content .item-content-data-b .list-dec button:focus {
              outline: 0; }
      .content-data-list .menu-book-list .list-data .data-content ul li {
        padding: 10px 0; 
        color: #666 !important;
      }
        .content-data-list .menu-book-list .list-data .data-content ul li:first-child {
          padding: 0; }
          .content-data-list .menu-book-list .list-data .data-content ul li:first-child .rate-area {
            padding: 0;
            top: -5px; }
        .content-data-list .menu-book-list .list-data .data-content ul li i {
          width: 20px; 
          color: #666;
        }
          .content-data-list .menu-book-list .list-data .data-content ul li i.fa-gps {
            font-family: ion; }
            .content-data-list .menu-book-list .list-data .data-content ul li i.fa-gps::before {
              content: "\f2a7"; }
      .content-data-list .menu-book-list .list-data .data-content .image-data {
        float: left;
        height: 230px;
        width: 280px; }
        .content-data-list .menu-book-list .list-data .data-content .image-data img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .content-data-list .menu-book-list .list-data .data-content .content-data {
        height: 230px;
        overflow: hidden;
        box-sizing: border-box;
        padding: 0px 15px 0px 20px;
        color: #757575;
        background: #FFFFFF;
        border-top: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
        border-color: #EAEAEA;
        overflow: hidden; }
        .content-data-list .menu-book-list .list-data .data-content .content-data .item-content {
          width: 100%;
          height: 100%;
          overflow: hidden; }
          .content-data-list .menu-book-list .list-data .data-content .content-data .item-content .book-now {
            position: absolute;
            bottom: 10px; }
            .content-data-list .menu-book-list .list-data .data-content .content-data .item-content .book-now button {
              border: 1px solid #F8CD3A;
              background: #F8CD3A;
              color: #fff;
              transition: .2s ease; }
              .content-data-list .menu-book-list .list-data .data-content .content-data .item-content .book-now button:hover {
                background: transparent;
                color: #F8CD3A; }
              .content-data-list .menu-book-list .list-data .data-content .content-data .item-content .book-now button:focus {
                outline: 0; }

.page #page {
  width: auto;
  padding: 50px 0px 0 0; }
  .page #page ul {
    width: auto;
    clear: both;
    overflow: auto; }
    .page #page ul li {
      display: block;
      overflow: hidden;
      width: auto;
      padding: 0 1px;
      float: left; }
      .page #page ul li:first-child .button-trek {
        border-radius: 4px 0 0 4px; }
      .page #page ul li:last-child .button-trek {
        border-radius: 0 4px 4px 0; }
      .page #page ul li > button {
        padding: 10px;
        border: 0px;
        background: #EBEBEB;
        color: #4C4C4C;
        font-size: 14px;
        font-weight: bold; }
        .page #page ul li > button:disabled {
          color: #9B9B9B; }
        .page #page ul li > button:focus {
          outline: 0; }
      .page #page ul li ul {
        padding: 0; }
        .page #page ul li ul li {
          float: left;
          padding: 0px 1px; }
          .page #page ul li ul li button {
            padding: 10px 15px;
            background: #EBEBEB;
            border-color: transparent;
            color: #A1A1A1;
            font-weight: normal; }
          .page #page ul li ul li.active button {
            background: #F8CD3A;
            color: #fff; }

@media screen and (max-width: 768px) {
  .list-type {
    padding-top: 0; }

  .content-data-list .menu-filter-data {
    width: 100%;
    padding-bottom: 30px; }

  .content-data-list .menu-book-list {
    width: 100%; }

  .content-data-list .menu-filter-data .acordion-list .acord-data .acord-onoff {
    padding: 0px 20px; }
    .content-data-list .menu-filter-data .acordion-list .acord-data .acord-onoff i {
      right: 10px; } }
@media screen and (max-width: 600px) {
  .content-data-list .menu-book-list .list-data {
    padding-bottom: 20px;
    padding-top: 20px; }

  .content-data-list .menu-book-list .list-data .data-content .image-data {
    width: 100%; }

  .content-data-list .menu-book-list .list-data .data-content .content-data {
    border-left: 1px solid #EAEAEA; } }
