* {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

@-webkit-keyframes changebg {
  0% {
    background-image: url(../image/singup_images/bg1.jpg);
  }
  25% {
    background-image: url(../image/singup_images/bg2.png);
  }
  50% {
    background-image: url(../image/singup_images/bg1.jpg);
  }
  75% {
    background-image: url(../image/singup_images/bg2.png);
  }
  100% {
    background-image: url(../image/singup_images/bg1.jpg);
  }
}

@-moz-keyframes changebg {
  0% {
    background-image: url(../image/singup_images/bg1.jpg);
  }
  25% {
    background-image: url(../image/singup_images/bg2.png);
  }
  50% {
    background-image: url(../image/singup_images/bg1.jpg);
  }
  75% {
    background-image: url(../image/singup_images/bg2.png);
  }
  100% {
    background-image: url(../image/singup_images/bg1.jpg);
  }
}

@-o-keyframes changebg {
  0% {
    background-image: url(../image/singup_images/bg1.jpg);
  }
  25% {
    background-image: url(../image/singup_images/bg2.png);
  }
  50% {
    background-image: url(../image/singup_images/bg1.jpg);
  }
  75% {
    background-image: url(../image/singup_images/bg2.png);
  }
  100% {
    background-image: url(../image/singup_images/bg1.jpg);
  }
}

@-ms-keyframes changebg {
  0% {
    background-image: url(../image/singup_images/bg1.jpg);
  }
  25% {
    background-image: url(../image/singup_images/bg2.png);
  }
  50% {
    background-image: url(../image/singup_images/bg1.jpg);
  }
  75% {
    background-image: url(../image/singup_images/bg2.png);
  }
  100% {
    background-image: url(../image/singup_images/bg1.jpg);
  }
}

@keyframes changebg {
  0% {
    background-image: url(../image/singup_images/bg1.jpg);
  }
  25% {
    background-image: url(../image/singup_images/bg2.png);
  }
  50% {
    background-image: url(../image/singup_images/bg1.jpg);
  }
  75% {
    background-image: url(../image/singup_images/bg2.png);
  }
  100% {
    background-image: url(../image/singup_images/bg1.jpg);
  }
}

.singup_container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(../image/singup_images/bg1.jpg);
  background-size: cover;
  vertical-align: middle;
  align-items: center;
  animation: changebg 40s linear infinite;
  -o-animation: changebg 40s linear infinite;
  -webkit-animation: changebg 40s linear infinite;
  -ms-animation: changebg 40s linear infinite;
  -moz-animation: changebg 40s linear infinite;
}

.singup_container .singup-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  vertical-align: middle;
  align-items: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.35);
  background-position: center;
}

.singup_container .singup_body {
  overflow: hidden;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
  position: relative;
}

.singup_container .singup_body::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  background-size: 100% 100%;
  filter: blur(0px);
  opacity: .3;
  left: 0;
}

.singup_container .singup_body .head-singup {
  width: 100%;
}

.singup_container .singup_body .head-singup label {
  width: 85px;
  height: 85px;
  background: #EBEAE7;
  display: flex;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  margin: 0 auto;
  vertical-align: middle;
  align-items: center;
  position: relative;
  justify-content: center;
  border: 2px solid transparent;
}

.singup_container .singup_body .head-singup label:hover img.camera {
  opacity: 1 !important;
  z-index: 3;
}

.singup_container .singup_body .head-singup label i {
  font-size: 30px;
  margin: 0 auto;
  display: flex;
}

.singup_container .singup_body .head-singup label input {
  opacity: 0;
  position: absolute;
}

.singup_container .singup_body .head-singup label img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  position: absolute;
  top: 0;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.singup_container .singup_body .head-singup label img.camera {
  width: 70px;
  object-fit: none;
  margin: 0 auto;
}

.singup-content {
  padding-top: 30px;
}

.singup-content .content-form {
  padding: 10px 0;
  width: 380px;
  overflow: hidden;
}

.singup-content .content-form .singup-label {
  width: 100%;
  padding-bottom: 15px;
  float: left;
  padding: 10px 0;
}

.singup-content .content-form .singup-label label {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.singup-content .content-form .singup-form {
  width: 100%;
  overflow: hidden;
  float: left;
}

.singup-content .content-form .singup-form:hover button {
  opacity: 1;
  z-index: 2;
}

.singup-content .content-form .singup-form .show-hide-password {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0;
  font-size: 16px;
  z-index: -9;
  background: transparent;
  color: #fff;
  border: 0;
}

.singup-content .content-form .singup-form .show-hide-password:focus {
  outline: 0;
}

.singup-content .content-form .singup-form input {
  width: 100%;
  background: transparent !important;
  border-radius: 3px;
  overflow: hidden;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 1.5px solid #f0f0f0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1.2px;
}

.singup-content .content-form .singup-form input:-webkit-autofill, .singup-content .content-form .singup-form input:-webkit-autofill:hover, .singup-content .content-form .singup-form input:-webkit-autofill:focus {
  background-color: transparent !important;
  color: #fff !important;
}

.singup-content .content-form .singup-form input[type=password] {
  -webkit-text-security: square;
  -moz-text-security: square;
  text-security: square;
}

.singup-content .content-form .singup-form input:focus {
  outline: 0;
}

.singup-foot {
  padding-top: 20px;
}

.singup-foot .allready {
  padding: 10px 0;
  float: left;
}

.singup-foot .allready a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #E4C140;
}

.singup-foot .submit-area {
  float: right;
}

.singup-foot .submit-area button {
  padding: 10px 30px;
  border: 2px solid transparent;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: #E4C140;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
/*# sourceMappingURL=login.css.map */