@import url(font-awesome.min.css);
@import url(jquery-ui.css);
@font-face {
  font-family: Oswald;
  src: url("../fonts/Oswald-Regular.ttf"); }
@font-face {
  font-family: Poppins;
  src: url("../fonts/Oswald-Regular.ttf"); }
@font-face {
  font-family: Quicksand;
  src: url("../fonts/Quicksand-Regular.ttf"); }
@font-face {
  font-family: ion;
  src: url(../fonts/ion.ttf);
  src: url(../fonts/ion.woff); }
::-webkit-input-placeholder {
  /* Microsoft Edge */
  color: #F3CD3E;
  opacity: .4; }

.text-center {
  text-align: center;
  margin: 0 auto; }

.text-left {
  margin: 0;
  text-align: left; }

.container-list {
  padding: 0px 15px;
  box-sizing: border-box; }

.poppins {
  font-family: "Quicksand", sans-serif; }

.oswald {
  font-family: "Oswald", sans-serif; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.capital {
  text-transform: capitalize; }

.hiden {
  display: none;
  opacity: 0; }

.break {
  word-break: break-all; }

.keep {
  word-break: keep-all; }

.list-none {
  list-style: none; }

h1 {
  font-family: "Oswald", sans-serif !important; }

h2 {
  font-family: "Oswald", sans-serif !important; }

.td-none {
  text-decoration: none !important; }

.autocomplete-suggestions {
  text-align: left;
  cursor: default;
  border: 1px solid #ccc;
  border-top: 0;
  margin-top: 0px;
  background: #fff;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.1);
  position: absolute;
  display: none;
  z-index: 9999999999999999999999;
  max-height: 254px;
  overflow: hidden;
  overflow-y: auto;
  position: fixed;
  box-sizing: border-box;
  /* Track */
  /* Handle */
  /* Handle on hover */ }

.autocomplete-suggestions.p1 {
  position: fixed;
  z-index: 9999999999999999999999; }

.autocomplete-suggestions.p2 {
  position: absolute;
  z-index: 1; }

.autocomplete-suggestions.unscroll {
  margin-top: 0px !important; }

.autocomplete-suggestions.scroll {
  margin-top: -13px !important; }

.autocomplete-suggestions::-webkit-scrollbar {
  width: 3px; }

.autocomplete-suggestions::-webkit-scrollbar-track {
  background: #fff; }

.autocomplete-suggestions::-webkit-scrollbar-thumb {
  background: #919191; }

.autocomplete-suggestions::-webkit-scrollbar-thumb:hover {
  background: #919191; }

.autocomplete-suggestion {
  position: relative;
  padding: 0 .6em;
  line-height: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.02em;
  color: #383838; }

.autocomplete-suggestion b {
  font-weight: normal;
  color: #F8CD3A; }

.autocomplete-suggestion.selected {
  background: #f0f0f0; }

.fa-search::before {
  content: "\f4a4" !important;
  font-family: ion !important; }

.hover-pointer:hover {
  cursor: pointer; }

.justify {
  text-align: justify;
  text-justify: inter-word; }

.fade {
  color: #888;
  font-weight: 300; }

.p-height {
  line-height: 1.5; }

h1 {
  color: #383838 !important; }

.lh {
  line-height: 1.7;
  color: #666; }

.lh p {
  line-height: 1.7;
  color: #666; }

.lh-2 {
  line-height: 1.8; }

#owl-galery .owl-nav {
  display: none !important; }

.container-bg {
  box-shadow: 0px 0px 5px 0px rgba(230, 230, 230, 0.2) !important;
  border: 1px solid #F0F0F0; }

.box-shadow {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1); }

.b-b {
  box-sizing: border-box; }

.pointer {
  cursor: pointer; }

.ov-h {
  overflow: hidden;
  -moz-overflow: hidden;
  -o-overflow: hidden;
  -webkit-overflow: hidden;
  -ms-overflow: hidden; }

.bg-white {
  background: #fff; }

html {
  font-family: "Quicksand", sans-serif; }

.c-white {
  color: #fff; }

.bg-yellow {
  background: #F3CD3E; }

.zoom {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease; }

.zoom:hover {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -moz-transform: scale(1.3); }

.animate-scale-z {
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease; }

.animate-scale-z:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1); }

.zoom-to-image img {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease; }

.zoom-to-image:hover img {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -moz-transform: scale(1.3); }

.zoom-to-image .pharagrap-l {
  line-height: 2.9 !important; }

.zoom-to-image .pharagrap-l p {
  line-height: 3.8 !important; }

.zoom-to-image .image-cover {
  display: block; }

.animate-left-to-right {
  animation: animate_left_to_right 0.4s linear;
  -o-animation: animate_left_to_right 0.4s linear;
  -webkit-animation: animate_left_to_right 0.4s linear;
  -ms-animation: animate_left_to_right 0.4s linear;
  -moz-animation: animate_left_to_right 0.4s linear; }

@keyframes animate_left_to_right {
  0% {
    left: -200px; }
  100% {
    left: 0px; } }
div.title::before {
  height: 80px;
  width: 140px;
  position: absolute;
  content: '';
  left: -10px;
  background-position: left;
  background-size: 140px 80px;
  background-image: url("../image/span-title.png"); }

div.title-center::before {
  height: 80px;
  width: 140px;
  position: absolute;
  content: '';
  margin: 0 auto;
  left: -50px;
  right: 0;
  background-position: left;
  background-size: 140px 80px;
  background-image: url("../image/span-title.png"); }

div.title-right::before {
  height: 80px;
  width: 140px;
  position: absolute;
  content: '';
  margin: 0 auto;
  left: 20px;
  right: 0;
  background-position: left;
  background-size: 140px 80px;
  background-image: url("../image/span-title.png"); }

.panorama div.title-center::before {
  left: -200px; }

.owl-nav {
  width: 100px;
  background: transparent;
  float: right;
  padding-top: 20px; }

.owl-nav .nav-car-left, .owl-nav .nav-car-right {
  display: block;
  cursor: pointer;
  float: left;
  width: 50%;
  font-size: 30px;
  font-weight: normal !important;
  color: #757575;
  opacity: .8; }

.owl-nav .nav-car-left:hover, .owl-nav .nav-car-right:hover {
  opacity: 1; }

.owl-nav .nav-car-left:active, .owl-nav .nav-car-right:active {
  color: #F3CD3E; }

button, a {
  cursor: pointer; }

* {
  margin: 0;
  padding: 0;
  position: relative; }

*::before, *::after {
  position: relative;
  -moz-position: relative;
  -o-position: relative;
  -ms-position: relative;
  -webkit-position: relative; }

.popup, .popup-rad {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.7);
  border: 0px;
  z-index: 99999999999999999999;
  vertical-align: middle;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center; }

.area-close {
  height: 100%;
  position: absolute;
  width: 100%;
  background: transparent;
  z-index: -1;
  cursor: pointer; }

.popup .content-popup, .popup-rad .content-popup {
  background: #fff;
  width: 90%;
  height: 90%;
  vertical-align: middle;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  box-sizing: border-box;
  align-items: center; }

.popup .content-popup .dismis, .popup-rad .content-popup .dismis {
  background: white;
  border: 0px;
  position: absolute;
  top: -10px;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  right: -10px;
  z-index: 99; }

.popup .content-popup .dismis i, .popup-rad .content-popup .dismis i {
  color: #555754;
  font-size: -15px; }

.popup .content-popup video, .popup-rad .content-popup video {
  width: 100%;
  height: 100%;
  background: transparent; }

.search-unres {
  position: fixed;
  width: 100%;
  z-index: 99999999999999999999;
  overflow: hidden;
  -moz-overflow: hidden;
  -o-overflow: hidden;
  -webkit-overflow: hidden;
  -ms-overflow: hidden;
  margin-top: 70px;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease; }

.search-unres.inactive {
  height: 0px;
  margin-top: 0px; }

.search-unres.active {
  height: auto;
  margin-top: 70px; }

.search-unres.active.unscroll {
  background: transparent;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0);
  -ms-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0); }

.search-unres.active.scroll {
  background: #fff;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.02);
  -o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.02);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.02);
  -ms-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.02);
  margin-top: 55px; }

.search-unres .search-result {
  display: flex;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  align-items: center;
  padding: 10px 10px 10px 0;
  border-radius: 0 0 3px 3px;
  align-content: center;
  justify-content: center;
  overflow: hidden; }

.search-unres .search-result .research {
  background: transparent;
  width: 100%;
  overflow: hidden;
  padding: 5px 0; }

.search-unres .search-result .research .search-title {
  float: left;
  width: auto;
  padding-top: 5px; }

.search-unres .search-result .research .search-title span {
  color: #A2A2A2; }

.search-unres .search-result .research .input-search {
  display: block;
  float: right;
  overflow: auto; }

.search-unres .search-result .research .input-search .ci {
  background: #F2F2F2;
  width: auto;
  padding: 0;
  padding-left: 10px;
  cursor: pointer; }

.search-unres .search-result .research .input-search .ci input {
  font-size: 14px;
  background: transparent;
  border: 0;
  padding: 10px 0;
  cursor: pointer;
  color: #A2A2A2; }

.search-unres .search-result .research .input-search .ci input::-webkit-input-placeholder {
  color: #A2A2A2; }

.search-unres .search-result .research .input-search .ci input:focus {
  outline: 0; }

.search-unres .search-result .research .input-search .ci button {
  font-size: 20px;
  padding: 8px 15px;
  border: 0;
  background: #F8CD3A;
  color: #fff; }

.search-unres .search-result .research .input-search .ci button:focus {
  outline: 0; }

.search-unres .search-result .research .input-search .ci button i {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg); }

.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-border-radius: border-box;
  box-sizing: border-box; }

.header-devault {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease; }

.header-devault nav {
  padding: 10px 0;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease; }

.header-devault nav ul li a {
  color: #fff; }

.header-scroll {
  background: #fff;
  padding-top: 0;
  height: 62px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.02); }

.header-scroll .logo {
  position: absolute;
  left: 0;
  background: transparent;
  height: 57px;
  padding: 8px 0 0 0;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease; }

.header-scroll .logo img {
  height: 55px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease; }

.header-scroll nav {
  padding: 5px 0 0 0; }

.header-scroll nav li {
  padding: 5px 15px 10px 15px !important; }

.header-scroll nav a, .header-scroll nav span {
  color: #696969 !important; }

header {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  height: 80px;
  background: transparent;
  position: fixed;
  padding-top: 5px;
  z-index: 999999999999999999999; }

header .container {
  overflow: visible; }

header .logo {
  position: absolute;
  left: 0;
  background: transparent;
  height: 60px;
  padding: 12px 0;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  z-index: 9999; }

header .logo img {
  height: 65px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer; }

header .logo h4 {
  font-size: 30px !important;
  color: #fff; }

header .navbar {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px 0px; }

header .navbar .navbar-toggle {
  padding: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-border-radius: border-box;
  box-sizing: border-box;
  background: transparent;
  position: absolute;
  clear: both;
  right: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  z-index: 9999;
  border: 0px;
  cursor: pointer;
  outline: 0;
  display: none; }

header .navbar .navbar-toggle span {
  height: 3px;
  width: 30px;
  opacity: 1;
  background: #333;
  display: block;
  border-radius: 40px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
  position: relative;
  margin: 6px 0; }

header .navbar .navbar-toggle span:first-child {
  margin: 5px 0; }

header .navbar .navbar-toggle span:last-child {
  margin: 7px 0px 5px 0px; }

header .navbar .navbar-toggle span span:nth-child(2) {
  width: 100%;
  margin: 0 auto;
  display: flex;
  right: 0;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease;
  left: 0; }

header .navbar .navbar-toggle.active span:first-child {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease;
  top: 9.7px; }

header .navbar .navbar-toggle.active span:last-child {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease;
  bottom: 9px;
  left: .4px; }

header .navbar .navbar-toggle.active span:nth-child(2) {
  width: 0%;
  margin: 0 auto;
  display: flex;
  right: 0;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease;
  left: 0; }

header .navbar nav {
  float: right; }

header .navbar nav ul {
  height: auto;
  background: transparent; }

header .navbar nav ul li {
  float: left;
  padding: 5px 15px 10px 15px !important;
  list-style: none;
  background: transparent;
  box-sizing: border-box; }

header .navbar nav ul li.akomodasi.activa span {
  border-bottom: 2px solid #F8CD3A;
  padding-bottom: 8px; }

header .navbar nav ul li.akomodasi:hover span {
  border-bottom: 2px solid transparent; }

header .navbar nav ul li.akomodasi:hover::after {
  display: block;
  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  -ms-transition: .2s ease-in;
  -moz-transition: .2s ease-in; }

header .navbar nav ul li.akomodasi:hover::before {
  display: block;
  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  -ms-transition: .2s ease-in;
  -moz-transition: .2s ease-in; }

header .navbar nav ul li.akomodasi:hover ul {
  display: block;
  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  -ms-transition: .2s ease-in;
  -moz-transition: .2s ease-in; }

header .navbar nav ul li.akomodasi::before {
  border-bottom: 20px solid #F2F2F2;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  bottom: -15px;
  left: 10px;
  display: none;
  content: ''; }

header .navbar nav ul li.akomodasi::after {
  bottom: -20px;
  display: none;
  width: 120px;
  height: 30px;
  left: -5px;
  background: transparent;
  content: '';
  position: absolute; }

header .navbar nav ul li.akomodasi ul {
  width: 120px;
  position: absolute;
  top: 40px;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  -ms-transition: .2s ease-in;
  -moz-transition: .2s ease-in;
  right: 0;
  padding: 5px 5px;
  background: #F2F2F2;
  color: #616161;
  overflow: visible;
  display: none;
  border-bottom: 2px solid transparent;
  border-radius: 1px;
  padding-bottom: 3px; }

header .navbar nav ul li.akomodasi ul li {
  display: block;
  width: 100%;
  padding: 8px 10px !important; }

header .navbar nav ul li.akomodasi ul li a {
  color: #616161;
  padding: 4px 0; }

header .navbar nav ul li.akomodasi ul li a:hover {
  color: #F8CD3A !important; }

header .navbar nav ul li.akomodasi ul li a:hover::after {
  height: 0px !important;
  width: 0px !important;
  background: transparent !important; }

header .navbar nav ul li:first-child {
  display: none; }

header .navbar nav ul li.search-res {
  display: none; }

header .navbar nav ul li.search-unres-s {
  display: block; }

header .navbar nav ul li .ci {
  background: #F2F2F2;
  width: 320px;
  padding: 0;
  overflow: hidden;
  cursor: text;
  padding-left: 10px; }

header .navbar nav ul li .ci input {
  font-size: 14px;
  background: transparent;
  border: 0;
  padding: 10px 0;
  margin-top: 5px;
  width: auto;
  float: left;
  width: auto;
  cursor: pointer;
  color: #A2A2A2; }

header .navbar nav ul li .ci input::-webkit-input-placeholder {
  color: #A2A2A2; }

header .navbar nav ul li .ci input:focus {
  outline: 0; }

header .navbar nav ul li .ci button {
  font-size: 20px;
  padding: 8px 15px;
  border: 0;
  background: #F8CD3A;
  color: #fff;
  cursor: pointer;
  float: right; }

header .navbar nav ul li .ci button:focus {
  outline: 0; }

header .navbar nav ul li .ci button i {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg); }

header .navbar nav ul button.search-unresponsive {
  background: transparent;
  color: #F8CD3A;
  border: 0;
  font-size: 30px;
  padding: 0px;
  padding-top: 0;
  top: -6px;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease; }

header .navbar nav ul button.search-unresponsive:hover {
  color: #C9C9C9; }

header .navbar nav ul button.search-unresponsive:focus {
  outline: 0; }

header .navbar nav ul button.search-unresponsive i {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg); }

header .navbar nav ul li span {
  color: #fff; }

header .navbar nav ul li a {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid transparent;
  padding: 5px 0;
  overflow: visible; }

header .navbar nav ul li a::after {
  height: 2.5px;
  width: 0px;
  display: flex;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease;
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  background: #F8CD3A;
  right: 0;
  z-index: 99; }

header .navbar nav ul li a:hover::after {
  width: 100%;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease; }

header .navbar nav ul li.active a::after {
  width: 100%; }

header .nav-devault {
  height: auto; }

section.banner .banner-left {
  width: 40%;
  padding: 0;
  padding-top: 160px;
  padding-bottom: 100px;
  float: left;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 5%; }

section.banner .banner-left .banner-top-desc {
  color: #use-black; }

section.banner .banner-left .banner-title {
  font-size: 27px;
  color: #333333; }

section.banner .banner-left .banner-title::before {
  height: 80px;
  width: 140px;
  position: absolute;
  content: '';
  left: -10px;
  background-position: left;
  background-size: 140px 80px;
  background-image: url("../image/span-title.png"); }

section.banner .banner-left .banner-desc {
  text-overflow: ellipsis; }

section.banner .banner-left .button-action button {
  background: #F3CD3E;
  border: 1px solid #F3CD3E;
  color: #fff;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease; }

section.banner .banner-left .button-action button:hover {
  background: transparent;
  color: #F3CD3E; }

section.banner .banner-right {
  float: left;
  overflow: hidden;
  width: 60%;
  display: block;
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 630px;
  background-image: url("../image/banner-ujung-genteng.png"); }

section.banner .selection-banner {
  overflow-x: hidden;
  height: 100px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px; }

section.banner .selection-banner::-webkit-scrollbar {
  background-color: #000;
  width: 0px;
  opacity: 0;
  background: transparent;
  display: none; }

section.banner .selection-banner .selector {
  width: 1250px; }

section.banner .selection-banner .selector .list-banner {
  width: 250px;
  float: left;
  background: transparent;
  padding: 15px 5px;
  cursor: pointer;
  opacity: .6;
  box-sizing: border-box; }

section.banner .selection-banner .selector .list-banner.create {
  opacity: 1; }

section.banner .selection-banner .selector .list-banner .square {
  height: 30px;
  width: 30px;
  border: 1px solid #333333;
  padding: 0px 8px;
  transform: rotate(45deg);
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-border-radius: border-box;
  box-sizing: border-box; }

section.banner .selection-banner .selector .list-banner .square div {
  transform: rotate(-45deg); }

section.banner .selection-banner .selector .list-banner .content-list {
  padding: 0px 15px;
  float: left; }

section.banner .selection-banner .selector .list-banner .content-list span {
  font-size: 14px;
  text-align: center; }

section.banner .selection-banner .selector .list-banner .content-list p {
  font-size: 12px;
  text-align: center; }

.destination .owl-nav.disabled {
  display: none !important; }

.destination .dev-title {
  padding-left: 5px; }

.destination .dev-title h2 {
  font-size: 30px;
  color: #333333; }

.destination .item {
  padding: 2px; }

.destination .destination-data {
  padding: 5px; }

.destination .destination-data .destination-list {
  height: 340px;
  width: 100%;
  padding: 10px 10px;
  border-radius: 1px;
  padding-bottom: 20px;
  box-sizing: border-box; }

.destination .destination-data .destination-list:hover .destination-header div {
  background: #F3CD3E;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease; }

.destination .destination-data .destination-list:hover .destination-content {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease; }

.destination .destination-data .destination-list:hover .destination-content img {
  transform: scale(1.3);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease; }

.destination .destination-data .destination-list:hover .destination-content .bg-image-desc {
  opacity: 0; }

.destination .destination-data .destination-list:hover .destination-content .desc-content-overlay {
  bottom: 0px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease; }

.destination .destination-data .destination-list .destination-header {
  padding: 0px 0; }

.destination .destination-data .destination-list .destination-header div {
  height: 10px;
  width: 90%;
  z-index: 99;
  background: #EEEEEE;
  margin: 0 auto;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease; }

.destination .destination-data .destination-list .destination-content {
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer; }

.destination .destination-data .destination-list .destination-content div {
  overflow: hidden;
  width: 100%; }

.destination .destination-data .destination-list .destination-content div img {
  transform: scale(1.1);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
  object-fit: cover;
  position: relative;
  height: 290px;
  width: 100%; }

.destination .destination-data .destination-list .destination-content div .bg-image-desc {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  background: #fff;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease; }

.destination .destination-data .destination-list .desc-content-overlay {
  height: 130px;
  background: #fff;
  width: 98%;
  position: absolute;
  bottom: -100%;
  box-sizing: border-box;
  padding: 0px 0px;
  padding-top: 10px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease; }

.destination .destination-data .destination-list .desc-content-overlay .desc {
  border-left: 3px solid #F3CD3E;
  padding: 0px 5px;
  padding-right: 20px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative; }

.destination .destination-data .destination-list .desc-content-overlay .desc div {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  padding: 0px 5px; }

.destination .destination-data .destination-list .desc-content-overlay .desc div h1, .destination .destination-data .destination-list .desc-content-overlay .desc div p {
  color: #333333 !important; }

.destination .destination-data .destination-list .desc-content-overlay .desc div p {
  margin-top: 5px; }

.dest-data .direct-list {
  box-sizing: border-box;
  overflow: hidden;
  width: 66.6666666666%;
  float: left; }

.dest-data .direct-list .list-dest {
  width: 50%;
  background: #fff;
  height: 500px;
  box-sizing: border-box;
  float: right; }

.dest-data .direct-list .list-dest .container-list {
  overflow: hidden;
  -moz-overflow: hidden;
  -o-overflow: hidden;
  -webkit-overflow: hidden;
  -ms-overflow: hidden;
  box-sizing: border-box;
  padding: 10px 0px; }

.dest-data .direct-list .list-dest .container-list .container-bg {
  background: #fff;
  padding: 10px;
  height: 460px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1); }

.dest-data .direct-list .list-dest .container-list div {
  overflow: hidden; }

.dest-data .direct-list .list-dest .container-list div .bg-desc-1 {
  color: #fff;
  height: 460px;
  width: 100%;
  background-size: cover;
  background-position: left;
  background-image: url("../image/ujung-genteng.jpg"); }

.dest-data .direct-list .list-dest:last-child {
  float: left;
  width: 50%;
  height: 500px;
  display: block;
  background: #fff; }

.dest-data .direct-list:last-child {
  width: 33.33333333%;
  box-sizing: border-box;
  overflow: hidden;
  float: left;
  background: #fff;
  height: 500px; }

.dest-data .direct-list:last-child .container-list {
  overflow: hidden;
  -moz-overflow: hidden;
  -o-overflow: hidden;
  -webkit-overflow: hidden;
  -ms-overflow: hidden;
  box-sizing: border-box;
  padding: 10px 10px; }

.dest-data .direct-list:last-child .container-bg {
  background: #fff;
  padding: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1); }

.dest-data .direct-list:last-child .container-bg .dest-desc:hover .back-img-uj {
  transform: scale(1.2);
  transition: .7s ease; }

.dest-data .direct-list:last-child .map {
  height: 190px;
  width: 100%;
  background: transparent;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0; }

.dest-data .direct-list:last-child .map img {
  width: 60%;
  margin: 0 auto;
  display: flex; }

.dest-data .direct-list:last-child .dest-desc {
  height: 235px;
  overflow: hidden; }

.dest-data .direct-list:last-child .dest-desc .back-img-uj {
  background-image: url("../image/ujung-genteng2.jpg");
  height: 260px;
  background-position: left;
  background-size: cover;
  transition: .7s ease; }

.dest-data .direct-list .desc-fly::before {
  height: 1px;
  width: 35px;
  content: '';
  background: #333333;
  position: absolute;
  left: 0;
  top: 14px; }

.destination {
  overflow: auto;
  clear: both; }

.destination .container-list {
  padding: 10px 10px; }

.destination .dest-list {
  width: 66.6666%;
  float: right;
  overflow: hidden;
  box-sizing: bortder-box;
  background: transparent;
  height: 400px; }

.destination .dest-list .desc-list {
  width: 50%;
  float: right;
  overflow: hidden;
  height: 380px; }

.destination .dest-list .desc-list .container-bg {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 10px;
  position: relative;
  background: #fff;
  height: 380px; }

.destination .dest-list .desc-list .container-list {
  overflow: hidden;
  padding: 0px 10px !important;
  position: relative;
  background: #fff;
  height: 380px; }

.destination .dest-list .desc-list .container-list p {
  text-align: right;
  word-break: keep-all; }

.destination .dest-list .desc-list .heading h1:after {
  content: ''; }

.destination .dest-list .desc-list .heading h6, .destination .dest-list .desc-list .heading h1 {
  text-align: right; }

.destination .dest-list .desc-list:last-child {
  float: left; }

.destination .dest-list .desc-list:last-child:hover .bg {
  transform: scale(1.2);
  transition: .7s ease; }

.destination .dest-list .desc-list:last-child .container-bg {
  box-sizing: border-box;
  overflow: hidden; }

.destination .dest-list .desc-list:last-child .container-bg div {
  padding: 0px;
  overflow: hidden;
  box-sizing: border-box; }

.destination .dest-list .desc-list:last-child .container-bg div .bg {
  height: 360px;
  transition: .7s ease; }

.destination .dest-list .desc-list:last-child .container-bg div .bg img {
  height: 360px;
  width: 100%;
  object-fit: cover; }

.destination .dest-list:last-child {
  float: left;
  width: 33.3333%;
  overflow: hidden;
  box-sizing: bortder-box;
  padding: 20px 0px 0px 0px; }

.destination .dest-list:last-child img {
  width: 80%;
  display: flex;
  margin: 0 auto; }

.destination .image-date {
  display: block;
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-left: -10px; }

.destination .list-image {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex; }

.destination .list-image .image-list {
  width: 100%;
  float: left;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer; }

.destination .list-image .image-list .container-bg {
  overflow: hidden;
  padding: 5px;
  box-sizing: border-box;
  height: 110px; }

.destination .list-image .image-list .container-bg div {
  overflow: hidden;
  height: 100px; }

.destination .list-image .image-list .container-bg div img {
  height: 100px;
  margin: 0 auto;
  display: flex;
  object-fit: cover; }

.play-ground {
  display: block;
  margin-bottom: 120px;
  padding-top: 100px; }

.play-ground .body {
  background-image: url("../image/video.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  height: 650px; }

.play-ground .body .over-text {
  position: absolute;
  bottom: 150px;
  width: 100%; }

.play-ground .body .over-text h3 {
  color: #fff;
  font-weight: normal; }

.play-ground .body .cover {
  border: 0px;
  position: absolute;
  vertical-align: middle;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  align-items: center; }

.play-ground .body .cover .button {
  height: 90px;
  width: 90px;
  border: 0px; }

.play-ground .body .cover .button button {
  border: 0px;
  position: relative;
  vertical-align: middle;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  padding: 10px 30px;
  background: transparent;
  border-radius: 100%;
  height: 75px;
  width: 75px;
  box-sizing: border-box;
  color: #fff;
  font-size: 35px;
  border: 3px solid #fff; }

.play-ground .body .cover .button button i {
  border-radius: 20px; }

.play-ground .body .cover .button button i::before {
  content: "\f215";
  font-family: ion; }

.destination-3 {
  width: 100%; }

.destination-3 .container {
  padding: 0;
  height: auto; }

.destination-3 .container .dest-list {
  float: left;
  width: 60%;
  box-sizing: border-box;
  overflow: hidden;
  height: 840px; }

.destination-3 .container .dest-list .desc-list, .destination-3 .container .dest-list .container {
  height: auto; }

.destination-3 .container .dest-list .info-left {
  height: 450px;
  display: block; }

.destination-3 .container .dest-list .desc-list {
  width: 100%; }

.destination-3 .container .dest-list .desc-list .heading h6, .destination-3 .container .dest-list .desc-list .heading h1 {
  text-align: left; }

.destination-3 .container .dest-list .desc-list .desc-image {
  display: block; }

.destination-3 .container .dest-list .desc-list .desc-image .container-bg {
  height: 370px; }

.destination-3 .container .dest-list .desc-list .desc-image .container-bg .sec {
  overflow: hidden;
  box-sizing: border-box;
  height: 350px; }

.destination-3 .container .dest-list .desc-list .desc-image .container-bg .sec img {
  height: 350px;
  width: 100%; }

.destination-3 .container .dest-list:last-child {
  width: 40%; }

.destination-3 .container .dest-list:last-child .desc-info {
  max-height: 450px;
  overflow: hidden;
  padding-bottom: 2px; }

.destination-3 .container .dest-list:last-child .desc-info:last-child {
  display: none; }

.destination-3 .container .dest-list:last-child .desc-info .container-bg {
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px; }

.destination-3 .container .dest-list:last-child .desc-info .container-bg div {
  overflow: hidden;
  box-sizing: border-box;
  padding: 0px;
  height: 430px; }

.destination-3 .container .dest-list:last-child .desc-info .container-bg div img {
  height: 430px;
  width: 100%;
  object-fit: cover; }

.destination-3 .container .dest-list:last-child .dest-info-2 {
  padding-top: 30px; }

.destination-3 .container .dest-list:last-child .dest-info-2 img {
  width: 80%;
  margin: 0 auto;
  display: flex; }

.subscribe {
  display: block; }

.subscribe .body-sub form {
  margin: 0 auto;
  display: flex;
  padding: 5px 0px;
  width: 400px; }

.subscribe .body-sub form i {
  color: #555754; }

.subscribe .body-sub form input[type=text] {
  display: block;
  border: none;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 350px;
  padding: 12px 10px;
  color: #646663;
  border-radius: 3px; }

.subscribe .body-sub form input[type=text]:focus {
  box-shadow: 0px;
  outline: 0px; }

.subscribe .body-sub form div {
  padding-left: 0; }

.subscribe .body-sub form div button {
  border: none;
  font-size: 14px;
  color: #fff;
  border-radius: 3px; }

.some-article {
  display: block; }

.some-article #owl-galery .item {
  border-radius: 5px;
  display: block;
  overflow: hidden;
  position: relative; }

.some-article #owl-galery .item:hover .image-cover, .some-article #owl-galery .item:hover .image-desc {
  opacity: 1; }

.some-article #owl-galery .item .image-list {
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
  -moz-overflow: hidden;
  -o-overflow: hidden;
  -webkit-overflow: hidden;
  -ms-overflow: hidden;
  transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  border-radius: 3px; }

.some-article #owl-galery .item .image-list img {
  width: 100%;
  position: relative;
  height: 100%;
  object-fit: cover;
  display: flex;
  height: 250px;
  border-radius: 3px;
  width: 100%; }

.some-article #owl-galery .item .image-desc {
  display: flex;
  position: absolute;
  color: #fff;
  background: transparent;
  height: 100px;
  opacity: 0;
  width: 100%;
  margin-bottom: 0px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
  overflow: hidden;
  -moz-overflow: hidden;
  -o-overflow: hidden;
  -webkit-overflow: hidden;
  -ms-overflow: hidden;
  bottom: 0; }

.some-article #owl-galery .item .image-desc p {
  width: auto;
  font-weight: 100;
  text-align: center; }

.some-article #owl-galery .item .image-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.45);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0; }

footer {
  display: block !important;
  padding-top: 220px !important;
  padding-bottom: 80px !important;
  background-image: url("../image/footer.jpg") !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important; }

footer .foot-logo {
  float: left;
  width: 30%; }

footer .foot-logo h1, footer .foot-logo h2, footer .foot-logo h3 {
  float: left;
  width: 100%;
  overflow: hidden; }

footer .foot-logo .logo-image {
  filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  height: 70px !important; }

footer .foot-nav {
  float: left;
  width: 70%; }

footer .foot-nav .nav-body {
  width: 100%;
  overflow: auto; }

footer .foot-nav .nav-body nav {
  width: 100%;
  overflow: auto; }

footer .foot-nav ul {
  width: 100%;
  overflow: auto;
  display: block; }

footer .foot-nav ul li {
  width: 33.3333%;
  padding: 5px 0;
  float: left;
  list-style: none;
  text-decoration: none;
  color: #fff; }

footer .foot-nav ul li ul {
  width: 100%; }

footer .foot-nav ul li ul li {
  width: 100%;
  font-size: 14px; }

footer .foot-nav ul li ul li:first-child {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.2px; }

footer .foot-nav ul li a {
  text-decoration: none;
  color: #fff; }

.to-top {
  position: fixed;
  right: 0px;
  bottom: 50px;
  cursor: pointer;
  height: 45px;
  width: 45px;
  background: #F8CD3A;
  display: flex;
  vertical-align: middle;
  align-items: center;
  overflow: hidden;
  padding: 0;
  justify-content: center;
  margin: 0 auto;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  transition: 0.1s ease;
  z-index: 9999; }

.to-top.scroll {
  right: 0; }

.to-top.unscroll {
  right: -46px; }

.to-top:hover button {
  margin-top: -8px;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease; }

.to-top button {
  background: transparent;
  font-size: 20px;
  margin: 0 auto;
  color: #fff;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  display: block;
  border: 0; }

.to-top button:hover {
  color: #fff; }

.to-top button:focus {
  outline: 0; }

.search-popup {
  position: fixed;
  z-index: 999999999999;
  background: #ffff;
  width: 100%;
  vertical-align: middle;
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 15px;
  margin: 0 auto;
  vertical-align: middle;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease; }

.search-popup.active {
  opacity: 1;
  z-index: 9999999999999999999999999999999999999999; }

.search-popup.inactive {
  opacity: 0;
  z-index: -100; }

.search-popup .dismis-c {
  position: absolute;
  right: 20px;
  top: 20px;
  border: 0;
  background: #F8CD3A;
  color: #fff;
  height: 30px;
  width: 30px;
  overflow: hidden;
  border-radius: 100%;
  font-size: 20px; }

.search-popup .dismis-c:focus {
  outline: 0; }

.search-popup .dismis-c::before {
  content: "\f129";
  font-family: ion; }

.search-popup .container-v {
  width: 60%; }

.search-popup .filter {
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  overflow: hidden; }

.search-popup .filter .search {
  background: transparent;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
  border-bottom: 1.5px solid #F8CD3A;
  height: 50px;
  position: relative;
  overflow: hidden; }

.search-popup .filter .search input {
  width: 100%;
  margin-right: 0px;
  color: #454545 !important;
  font-size: 18px;
  top: 5px;
  border: 0; }

.search-popup .filter .search input:focus {
  outline: 0; }

.search-popup .filter .search input::-webkit-input-placeholder {
  color: #363636; }

.search-popup .filter .search button.fa-close-o {
  margin: 10px 15px;
  top: 5px;
  border: 0;
  background: transparent;
  color: #F8CD3A;
  font-weight: 100;
  font-size: 30px;
  opacity: 0; }

.search-popup .filter .search button.fa-close-o:focus {
  outline: 0; }

.search-popup .filter .search button.fa-close-o::before {
  content: "\f129";
  font-family: ion; }

.search-popup .filter .search button.fa-to-go {
  color: #F8CD3A;
  background: transparent;
  border: 0;
  font-size: 60px;
  float: right;
  right: 0px;
  display: flex; }

.search-popup .filter .search button.fa-to-go:focus {
  outline: 0; }

.search-popup .filter .search button.fa-to-go::before {
  content: "\f3d6";
  font-family: ion; }

.search-popup .filter-data {
  width: 100%; }

.search-popup .filter-data .c-black {
  color: #767676; }

.search-popup .filter-data .filter-content ul li {
  list-style: none;
  float: left;
  overflow: hidden;
  width: auto;
  padding: 10px 0;
  padding-right: 20px; }

.search-popup .filter-data .filter-content ul li label {
  cursor: pointer;
  float: left; }

.search-popup .filter-data .filter-content ul li label input {
  display: none; }

.search-popup .filter-data .filter-content ul li label input:checked + .radio {
  background: #F8CD3A; }

.search-popup .filter-data .filter-content ul li label .radio {
  height: 20px;
  width: 20px;
  background: #EBEBEB;
  display: block;
  border-radius: 100%; }

.search-popup .filter-data .filter-content ul li span {
  float: left;
  color: #767676; }

.con-copy {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0; }

@media screen and (max-width: 900px) {
  header .navbar nav ul li:nth-child(1) a {
    color: #696969; }

  .search-popup .dismis-c:focus {
    outline: 0; }

  .search-popup .dismis-c::before {
    content: "\f129";
    font-family: ion; }

  .search-popup .container-v {
    width: 70%; }

  .search-popup .filter-data .filter-content ul li {
    width: auto; } }
@media screen and (max-width: 768px) {
  header .navbar nav ul li.akomodasi.activa span {
    border-bottom: 0px solid transparent !important; }

  header .navbar nav ul li.akomodasi {
    background: transparent;
    overflow: visible; }

  header .navbar nav ul li.akomodasi.activa {
    border-bottom: 0px solid transparent; }

  header .navbar nav ul li.akomodasi::before {
    display: none !important; }

  header .navbar nav ul li.akomodasi::after {
    display: none !important; }

  header .navbar nav ul li.akomodasi ul {
    display: block;
    background: transparent;
    width: 100%;
    padding: 0 !important;
    position: relative;
    top: 0;
    border-bottom: 0px solid transparent; }

  header .navbar nav ul li.akomodasi ul li a {
    text-transform: uppercase; }

  header .navbar nav ul li.akomodasi ul li::before {
    content: "\f462";
    font-family: ion;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 15px; }

  header .navbar nav ul li span {
    color: #696969; }

  header .navbar nav ul li:first-child {
    display: block; }

  .destination .dest-list .desc-list .container-list {
    height: 300px; }

  .autocomplete-suggestions {
    position: absolute; }

  .autocomplete-suggestions .p1, .autocomplete-suggestions .p2 {
    position: absolute; }

  .search-unres {
    display: none; }

  div.title-right::before {
    height: 80px;
    width: 140px;
    position: absolute;
    content: '';
    margin: 0 auto;
    left: -50px;
    right: 0;
    background-position: left;
    background-size: 140px 80px;
    background-image: url("../image/span-title.png"); }

  .container {
    width: 93%; }

  .header-devault {
    background: #ffffff;
    height: 55px;
    -webkit-transition: 0s ease;
    -moz-transition: 0s ease;
    -o-transition: 0s ease;
    -ms-transition: 0s ease;
    transition: 0s ease; }

  .header-devault nav {
    -webkit-transition: 0s ease;
    -moz-transition: 0s ease;
    -o-transition: 0s ease;
    -ms-transition: 0s ease;
    transition: 0s ease; }

  .header-scroll {
    background: #fff;
    height: 55px;
    -webkit-transition: 0s ease;
    -moz-transition: 0s ease;
    -o-transition: 0s ease;
    -ms-transition: 0s ease;
    transition: 0s ease;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.07);
    overflow: hidden; }

  .header-scroll .logo {
    padding: 10px 0 0 0; }

  .header-scroll .logo img {
    height: 50px; }

  .header-scroll nav {
    -webkit-transition: 0s ease !important;
    -moz-transition: 0s ease !important;
    -o-transition: 0s ease !important;
    -ms-transition: 0s ease !important;
    transition: 0s ease !important; }

  header {
    position: relative;
    -moz-position: relative;
    -o-position: relative;
    -ms-position: relative;
    -webkit-position: relative;
    z-index: 99999999999999;
    overflow: visible !important;
    background: #fff !important;
    height: 62px !important;
    padding-bottom: 0px; }

  header .navbar nav ul li.active a {
    border-bottom: 0px solid transparent !important; }

  header .logo {
    padding: 10px 0 0 0; }

  header .logo img {
    height: 50px !important; }

  header .navbar .navbar-toggle {
    display: block; }

  header nav {
    width: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    margin-top: 20px;
    padding-right: 10px;
    z-index: 99999999999999999999999999999999999999;
    position: absolute;
    overflow: hidden !important;
    -moz-overflow: hidden !important;
    -o-overflow: hidden !important;
    -webkit-overflow: hidden !important;
    -ms-overflow: hidden !important;
    box-sizing: border-box;
    height: 0px; }

  header nav.active {
    height: 600px;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    transition: 0.5s ease;
    overflow: hidden;
    -moz-overflow: hidden;
    -o-overflow: hidden;
    -webkit-overflow: hidden;
    -ms-overflow: hidden; }

  header nav.inactive {
    height: 0px;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    transition: 0.3s ease; }

  header nav ul {
    width: 100%;
    padding-bottom: 20px;
    overflow: visible;
    padding-right: 10px !important;
    margin-top: 15px;
    display: flex;
    padding-top: 20px;
    background: #fff !important;
    display: inline-block;
    border-left: 1px solid rgba(0, 0, 0, 0.06);
    border-right: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 2px 2px;
    box-sizing: border-box;
    border-bottom: 2px solid #F3CD3E; }

  header nav ul li {
    width: 100% !important;
    border-bottom: 0px solid red !important; }

  header nav ul li:first-child {
    display: block; }

  header nav ul li.search-res {
    display: block !important; }

  header nav ul li.search-unres-s {
    display: none !important; }

  header nav ul li.active a {
    border-bottom: 2px solid transparent !important; }

  header nav ul li a {
    width: 100% !important;
    display: flex;
    border-bottom: 0px solid transparent !important;
    color: #7D807C !important; }

  header nav ul li a::after {
    background: transparent !important; }

  section.banner .banner-top {
    height: 500px;
    overflow: hidden; }

  section.banner .banner-left {
    width: 90%;
    padding: 0;
    padding-top: 120px;
    padding-bottom: 100px;
    float: none;
    position: absolute;
    z-index: 9999;
    overflow: hidden;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-sizing: border-box;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    transition: 0.5s ease;
    overflow: hidden;
    padding-left: 0px !important; }

  section.banner .banner-left .banner-title {
    left: 10px; }

  section.banner .banner-left p {
    color: #fff !important;
    word-break: break-all; }

  section.banner .banner-left * {
    color: #fff; }

  section.banner .banner-right {
    float: none;
    overflow: hidden;
    width: 100%;
    height: 430px;
    transform: scale(1.4);
    background-position: bottom;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    transition: 0.5s ease; }

  .selection-banner {
    padding-top: 30px;
    padding-bottom: 0px; }

  .dest-data .direct-list {
    width: 100%;
    height: auto; }

  .dest-data .direct-list .list-dest {
    width: 100%;
    height: auto; }

  .dest-data .direct-list .list-dest:last-child {
    width: 100%;
    height: auto; }

  .dest-data .direct-list:last-child {
    width: 100%; }

  .dest-data .direct-list:last-child .map {
    height: 190px;
    width: 100%;
    background: transparent;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0; }

  .dest-data .direct-list:last-child .map img {
    height: 170px;
    margin: 0 auto;
    display: flex; }

  .destination {
    overflow: auto;
    clear: both; }

  .destination .container-list {
    padding: 10px 10px; }

  .destination .dest-list {
    width: 100%;
    float: right;
    overflow: hidden;
    box-sizing: bortder-box;
    background: transparent;
    height: auto; }

  .destination .dest-list .desc-list {
    width: 100%;
    float: right;
    overflow: hidden; }

  .destination .dest-list .desc-list p {
    word-break: break-all;
    line-height: 1.6;
    text-align: left !important; }

  .destination .dest-list .desc-list .heading h6, .destination .dest-list .desc-list .heading h1 {
    text-align: center; }

  .destination .dest-list:last-child {
    float: left;
    width: 100%;
    overflow: hidden;
    box-sizing: bortder-box; }

  .destination-3 {
    width: 100%; }

  .destination-3 .container {
    padding: 0;
    height: auto; }

  .destination-3 .container .dest-list {
    float: left;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    height: 900px; }

  .destination-3 .container .dest-list:last-child {
    width: 100%; }

  .play-ground {
    padding-top: 20px;
    margin-bottom: 30px; }

  footer .foot-logo {
    float: left;
    width: 30%; }

  footer .foot-logo h1, footer .foot-logo h2, footer .foot-logo h3 {
    float: left;
    width: 100%; }

  footer .foot-logo .logo-image {
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -ms-filter: grayscale(100%); }

  footer .foot-nav {
    float: left;
    width: 100%; }

  footer .foot-nav .nav-body {
    width: 100%;
    overflow: auto; }

  footer .foot-nav .nav-body nav {
    width: 100%;
    overflow: auto; }

  footer .foot-nav ul {
    width: 100%;
    overflow: hidden;
    display: block; }

  footer .foot-nav ul li {
    width: 33.3333%;
    padding: 5px 0;
    float: left;
    list-style: none;
    text-decoration: none;
    color: #fff; }

  footer .foot-nav ul li ul {
    width: 100%; }

  footer .foot-nav ul li ul li {
    width: 100%; }

  header .navbar nav ul li {
    overflow: hidden;
    box-sizing: border-box; }

  header .navbar nav ul li .ci {
    background: #F2F2F2;
    width: 100%;
    padding: 0;
    overflow: hidden;
    cursor: text;
    padding-left: 10px; }

  header .navbar nav ul li .ci input {
    font-size: 14px;
    background: transparent;
    border: 0;
    padding: 10px 0;
    width: 90%;
    position: absolute;
    float: left;
    top: -2px;
    color: #A2A2A2; }

  header .navbar nav ul li .ci input::-webkit-input-placeholder {
    color: #A2A2A2; }

  header .navbar nav ul li .ci input:focus {
    outline: 0; }

  header .navbar nav ul li .ci button {
    font-size: 20px;
    padding: 8px 15px;
    border: 0;
    background: #F8CD3A;
    color: #fff;
    cursor: pointer;
    float: right; }

  header .navbar nav ul li .ci button:focus {
    outline: 0; }

  header .navbar nav ul li .ci button i {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg); }

  .search-popup .dismis-c:focus {
    outline: 0; }

  .search-popup .dismis-c::before {
    content: "\f129";
    font-family: ion; }

  .search-popup .container-v {
    width: 80%; }

  .search-popup .filter-data .filter-content ul li {
    width: auto; } }
@media screen and (max-width: 550px) {
  .search-popup .filter .search {
    border-bottom: 1px solid #F8CD3A; }

  .search-popup .filter .search button.fa-to-go {
    font-size: 40px;
    top: 5px; }

  .search-popup .filter .search button.fa-close-o {
    font-size: 20px; }

  .destination-3 .container .dest-list .info-left {
    height: auto; }

  .destination .dest-list .desc-list .container-list {
    height: 380px; }

  section.banner .banner-left {
    padding: 0;
    padding-top: 100px;
    padding-left: 20px;
    padding-bottom: 100px; }

  .destination-3 .description {
    height: auto; }

  .play-ground {
    display: block; }

  .play-ground .body {
    background-image: url("../image/video.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    height: 500px; }

  .play-ground .body .cover .button {
    height: 90px;
    width: 90px;
    border: 0px; }

  .play-ground .body .cover .button button {
    height: 70px;
    width: 70px; }

  .play-ground .body .cover .button button span {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 30px solid #E0E1DE; }

  .some-article {
    display: block; }

  .some-article .article {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
    float: left; }

  .some-article .article .head-art .container-bg {
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden; }

  .some-article .article .head-art .container-bg div {
    padding: 0px;
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 100%;
    display: block; }

  .some-article .article .head-art .container-bg div img {
    display: block;
    width: 100%;
    object-fit: cover; }

  .subscribe {
    display: block; }

  .subscribe .body-sub form {
    margin: 0 auto;
    display: flex;
    padding: 5px 10px;
    border: 1px solid #f0f0f0;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    width: 300px; }

  .subscribe .body-sub form i {
    color: #555754; }

  .subscribe .body-sub form input[type=text] {
    display: block;
    border: none;
    overflow: hidden;
    width: 300px;
    padding: 3px 10px;
    color: #646663; }

  .subscribe .body-sub form input[type=text]:focus {
    border: 0px;
    box-shadow: 0px;
    outline: 0px; }

  footer .foot-logo {
    float: left;
    width: 30%; }

  footer .foot-logo h1, footer .foot-logo h2, footer .foot-logo h3 {
    float: left;
    width: 100%; }

  footer .foot-logo .logo-image {
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -ms-filter: grayscale(100%); }

  footer .foot-nav {
    float: left;
    width: 100%; }

  footer .foot-nav .nav-body {
    width: 100%;
    overflow: auto; }

  footer .foot-nav .nav-body nav {
    width: 100%;
    overflow: auto; }

  footer .foot-nav ul {
    width: 100%;
    overflow: hidden;
    display: block; }

  footer .foot-nav ul li {
    width: 50%;
    padding: 5px 0;
    float: left;
    list-style: none;
    text-decoration: none;
    color: #fff; }

  footer .foot-nav ul li ul {
    width: 100%; }

  footer .foot-nav ul li ul li {
    width: 100%; }

  .search-popup .dismis-c:focus {
    outline: 0; }

  .search-popup .dismis-c::before {
    content: "\f129";
    font-family: ion; }

  .search-popup .container-v {
    width: 95%; }

  .search-popup .filter-data .filter-content ul li {
    width: 100%; } }
@media screen and (max-width: 420px) {
  footer .foot-logo {
    float: left;
    width: 100%; }

  footer .foot-logo h1, footer .foot-logo h2, footer .foot-logo h3 {
    float: left;
    width: 100%; }

  footer .foot-logo .logo-image {
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    width: auto; }

  footer .foot-nav {
    float: left;
    width: 100%; }

  footer .foot-nav .nav-body {
    width: 100%;
    overflow: auto; }

  footer .foot-nav .nav-body nav {
    width: 100%;
    overflow: auto; }

  footer .foot-nav ul {
    width: 100%;
    overflow: hidden;
    display: block; }

  footer .foot-nav ul li {
    width: 50%;
    padding: 5px 0;
    float: left;
    list-style: none;
    text-decoration: none;
    color: #fff; }

  footer .foot-nav ul li ul {
    width: 100%; }

  footer .foot-nav ul li ul li {
    width: 100%; } }

/*# sourceMappingURL=main.style.css.map */
