a {
  text-decoration: none; }

.page-content-parent {
  width: 70%;
  float: left;
  padding-top: 150px; }
  .page-content-parent .page-heading {
    padding-bottom: 20px; }
    .page-content-parent .page-heading .page-title h1 {
      font-weight: 800 !important; }

.page-list-parent {
  overflow: hidden;
  width: 100%;
  display: none; }
  .page-list-parent.active {
    display: block; }
  .page-list-parent .page-list-act {
    display: block;
    overflow: auto;
    width: 100%;
    padding: 25px 0 20px 0;
    border-bottom: 1.5px solid #F5F5F5; }
    .page-list-parent .page-list-act:last-child {
      border-bottom: 1.5px solid transparent; }
    .page-list-parent .page-list-act .page-image {
      width: 50%;
      height: 250px;
      float: left;
      overflow: hidden; }
      .page-list-parent .page-list-act .page-image img {
        width: 100%;
        overflow: hidden;
        object-fit: cover;
        height: 250px;
        display: block; }
    .page-list-parent .page-list-act .page-desc {
      width: 50%;
      float: left;
      padding: 0px 10px 0px 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-border-radius: border-box;
      box-sizing: border-box;
      overflow: hidden;
      max-height: 250px; }
      .page-list-parent .page-list-act .page-desc .dest-data {
        height: 210px; }
      .page-list-parent .page-list-act .page-desc .page-tittle {
        display: block; }
        .page-list-parent .page-list-act .page-desc .page-tittle a {
          text-decoration: none;
          color: #5D5D5D; }
          .page-list-parent .page-list-act .page-desc .page-tittle a h3 {
            color: #5D5D5D;
            transition: .2s ease; }
            .page-list-parent .page-list-act .page-desc .page-tittle a h3:hover {
              color: #F8CD3A; }
      .page-list-parent .page-list-act .page-desc .page-time {
        width: 100%;
        overflow: hidden;
        height: auto;
        padding: 10px 0 10px 0; }
        .page-list-parent .page-list-act .page-desc .page-time .time, .page-list-parent .page-list-act .page-desc .page-time .send {
          width: auto;
          padding-bottom: 5px;
          float: left; }
          .page-list-parent .page-list-act .page-desc .page-time .time:last-child, .page-list-parent .page-list-act .page-desc .page-time .send:last-child {
            padding-left: 10px; }
          .page-list-parent .page-list-act .page-desc .page-time .time h6, .page-list-parent .page-list-act .page-desc .page-time .send h6 {
            display: block;
            overflow: hidden;
            padding: 0px !important;
            margin-top: 0px !important;
            height: auto !important;
            color: #9999;
            font-weight: 100; }
          .page-list-parent .page-list-act .page-desc .page-time .time i, .page-list-parent .page-list-act .page-desc .page-time .send i {
            font-size: 20px;
            position: relative;
            margin-top: 0px;
            padding-top: 5px; }
          .page-list-parent .page-list-act .page-desc .page-time .time span, .page-list-parent .page-list-act .page-desc .page-time .send span {
            position: relative;
            margin-top: 10px;
            padding-left: 5px;
            font-size: 14px; }
        .page-list-parent .page-list-act .page-desc .page-time .time i {
          top: 2px; }
      .page-list-parent .page-list-act .page-desc .page-descript {
        display: block; }
        .page-list-parent .page-list-act .page-desc .page-descript p {
          font-size: 14px;
          color: #666;
          line-height: 1.5; }
    .page-list-parent .page-list-act .desc-button {
      background: transparent;
      display: block;
      width: 100%;
      padding: 10px 10px 0px 10px;
      height: auto;
      box-sizing: border-box; }
      .page-list-parent .page-list-act .desc-button .confirm {
        position: absolute;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        text-align: center;
        padding: 5px 7px;
        left: 0;
        -webkit-transition: 1s ease;
        -moz-transition: 1s ease;
        -o-transition: 1s ease;
        -ms-transition: 1s ease;
        transition: 1s ease;
        z-index: 9999;
        opacity: 0;
        border-radius: 1px;
        top: -20px; }
        .page-list-parent .page-list-act .desc-button .confirm.incopied {
          opacity: 0; }
        .page-list-parent .page-list-act .desc-button .confirm.copied {
          opacity: 0; }
      .page-list-parent .page-list-act .desc-button div {
        width: 37%;
        float: left;
        overflow: visible; }
        .page-list-parent .page-list-act .desc-button div.share {
          width: 62%;
          left: -9px;
          top: 7px; }
          .page-list-parent .page-list-act .desc-button div.share .sub-rate {
            width: 100%; }
            .page-list-parent .page-list-act .desc-button div.share .sub-rate .start {
              width: auto;
              overflow: hidden;
              padding: 0px 3px;
              float: left; }
              .page-list-parent .page-list-act .desc-button div.share .sub-rate .start.rate i {
                color: #F8CD3A; }
                .page-list-parent .page-list-act .desc-button div.share .sub-rate .start.rate i::before {
                  content: "\f005"; }
              .page-list-parent .page-list-act .desc-button div.share .sub-rate .start.unrate i {
                color: #B5B5B5; }
                .page-list-parent .page-list-act .desc-button div.share .sub-rate .start.unrate i::before {
                  content: "\f006"; }
              .page-list-parent .page-list-act .desc-button div.share .sub-rate .start:first-child {
                padding: 0 3px 0 0; }
              .page-list-parent .page-list-act .desc-button div.share .sub-rate .start i {
                font-size: 18px; }
        .page-list-parent .page-list-act .desc-button div.read button {
          float: right;
          padding: 7px 12px;
          background: #F8CD3A;
          top: -4px;
          border: 1px solid #F8CD3A;
          font-size: 14px;
          -webkit-transition: 0.2s ease;
          -moz-transition: 0.2s ease;
          -o-transition: 0.2s ease;
          -ms-transition: 0.2s ease;
          transition: 0.2s ease;
          color: #fff; }
          .page-list-parent .page-list-act .desc-button div.read button:hover {
            color: #F8CD3A;
            background: transparent;
            border: 1px solid #F8CD3A; }
          .page-list-parent .page-list-act .desc-button div.read button:focus {
            outline: 0; }

.category {
  width: 30%;
  overflow: hidden;
  float: right;
  padding-top: 235px;
  padding-left: 40px;
  box-sizing: border-box; }
  .category .autocomplete-suggestions {
    text-align: left;
    cursor: default;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.1);
    position: absolute;
    display: none;
    z-index: 9999;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    /* Track */
    /* Handle */
    /* Handle on hover */ }
    .category .autocomplete-suggestions::-webkit-scrollbar {
      width: 3px; }
    .category .autocomplete-suggestions::-webkit-scrollbar-track {
      background: #fff; }
    .category .autocomplete-suggestions::-webkit-scrollbar-thumb {
      background: #919191; }
    .category .autocomplete-suggestions::-webkit-scrollbar-thumb:hover {
      background: #919191; }
  .category .autocomplete-suggestion {
    position: relative;
    padding: 0 .6em;
    line-height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.02em;
    color: #383838; }
  .category .autocomplete-suggestion b {
    font-weight: normal;
    color: #F8CD3A; }
  .category .autocomplete-suggestion.selected {
    background: #f0f0f0; }
  .category .search {
    background: #F2F2F2;
    width: auto;
    box-sizing: border-box;
    overflow: hidden;
    padding-left: 10px;
    width: 300px; }
    .category .search input {
      padding: 6px 10px;
      border: 0;
      width: 210px;
      font-size: 14px;
      background: transparent;
      color: #474747;
      letter-spacing: 1px;
      margin-top: 5px; }
      .category .search input:focus {
        outline: 0; }
      .category .search input::-webkit-input-placeholder {
        color: #474747; }
      .category .search input::-moz-placeholder {
        color: #474747; }
      .category .search input:-ms-input-placeholder {
        color: #474747; }
      .category .search input:-moz-placeholder {
        color: #474747; }
      .category .search input:-o-placeholder {
        color: #474747; }
    .category .search button {
      border: 0;
      background: #F8CD3A;
      padding: 6px 15px;
      float: right;
      color: #fff;
      font-size: 22px; }
      .category .search button i {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg); }
  .category .category-title {
    padding: 30px 0 10px 0; }
    .category .category-title h3 {
      color: #2E2E2E; }
  .category .list-category {
    display: block; }
    .category .list-category ul li {
      list-style: none;
      padding: 5px 0;
      padding-left: 15px;
      cursor: pointer; }
      .category .list-category ul li:hover span {
        color: #F8CD3A; }
      .category .list-category ul li span {
        color: #2E2E2E;
        font-size: 14px;
        -webkit-transition: 0.2s ease;
        -moz-transition: 0.2s ease;
        -o-transition: 0.2s ease;
        -ms-transition: 0.2s ease;
        transition: 0.2s ease; }
      .category .list-category ul li:before {
        content: '';
        height: 6px;
        width: 6px;
        position: absolute;
        left: 0;
        top: 12px;
        overflow: hidden;
        border-radius: 100%;
        background: #F8CD3A; }

.page #page {
  width: auto;
  padding: 50px 0px 0 0; }
  .page #page ul {
    width: auto;
    clear: both;
    overflow: auto; }
    .page #page ul li {
      display: block;
      overflow: hidden;
      width: auto;
      padding: 0 1px;
      float: left; }
      .page #page ul li:first-child .button-trek {
        border-radius: 4px 0 0 4px; }
      .page #page ul li:last-child .button-trek {
        border-radius: 0 4px 4px 0; }
      .page #page ul li > button {
        padding: 10px;
        border: 0px;
        background: #EBEBEB;
        color: #4C4C4C;
        font-size: 14px;
        font-weight: bold; }
        .page #page ul li > button:disabled {
          color: #9B9B9B; }
        .page #page ul li > button:focus {
          outline: 0; }
      .page #page ul li ul {
        padding: 0; }
        .page #page ul li ul li {
          float: left;
          padding: 0px 1px; }
          .page #page ul li ul li button {
            padding: 10px 15px;
            background: #EBEBEB;
            border-color: transparent;
            color: #A1A1A1;
            font-weight: normal; }
          .page #page ul li ul li.active button {
            background: #F8CD3A;
            color: #fff; }

@media screen and (max-width: 768px) {
  .page-content-parent {
    width: 100%;
    padding-top: 52px; }
    .page-content-parent .page-list-act {
      display: block;
      overflow: auto;
      width: 100%;
      padding: 25px 0 20px 0;
      border-bottom: 1.5px solid #F5F5F5; }
      .page-content-parent .page-list-act .page-image {
        width: 100%;
        height: 400px;
        float: left;
        overflow: hidden; }
        .page-content-parent .page-list-act .page-image img {
          width: 100%;
          overflow: hidden;
          object-fit: cover;
          height: 400px;
          display: block; }
      .page-content-parent .page-list-act .page-desc {
        width: 100%;
        float: left;
        padding: 15px 10px 0px 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-border-radius: border-box;
        box-sizing: border-box;
        overflow: hidden;
        max-height: 300px; }
        .page-content-parent .page-list-act .page-desc .dest-data {
          height: auto;
          overflow: hidden; }

  .category {
    width: 100%;
    padding-top: 30px;
    padding-left: 0; }
    .category .search {
      background: #F2F2F2;
      width: auto;
      box-sizing: border-box;
      overflow: hidden;
      padding-left: 5px;
      width: 100%; }
      .category .search input {
        padding: 6px 10px;
        border: 0;
        font-size: 14px;
        background: transparent;
        color: #474747;
        position: absolute;
        width: 90%;
        letter-spacing: 1px;
        margin-top: 5px; }
        .category .search input:focus {
          outline: 0; }
        .category .search input::-webkit-input-placeholder {
          color: #474747; }
        .category .search input::-moz-placeholder {
          color: #474747; }
        .category .search input:-ms-input-placeholder {
          color: #474747; }
        .category .search input:-moz-placeholder {
          color: #474747; }
        .category .search input:-o-placeholder {
          color: #474747; }
      .category .search button {
        border: 0;
        background: #F8CD3A;
        padding: 6px 15px;
        float: right;
        color: #fff;
        font-size: 22px; }
        .category .search button i {
          transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -moz-transform: rotate(90deg); }
    .category .category-title {
      padding: 30px 0 10px 0; }
      .category .category-title h3 {
        color: #2E2E2E; } }
@media screen and (max-width: 550px) {
  .page-content-parent .page-list-act {
    width: 100%;
    padding: 25px 0 20px 0;
    border-bottom: 1.5px solid #F5F5F5; }
    .page-content-parent .page-list-act .page-image {
      width: 100%;
      height: 300px;
      float: left;
      overflow: hidden; }
      .page-content-parent .page-list-act .page-image img {
        width: 100%;
font-size:         overflow: hidden;
        object-fit: cover;
        height: 300px;
        display: block; }
    .page-content-parent .page-list-act .page-image {
      width: 100%; }
    .page-content-parent .page-list-act .page-desc {
      width: 100%; } }
@media screen and (max-width: 420px) {
  .page-list-parent .page-list-act .page-desc {
    max-height: 400px; }
    .page-list-parent .page-list-act .page-desc .dest-data {
      height: 200px;
      overflow: hidden; } }
@keyframes faded {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }