@import "mixin";
*{
	margin: 0;
	padding: 0;
}
@include keyframes(changebg)
{
	0%{
	background-image: url(../image/singup_images/bg1.jpg);
	}
	25%{
		background-image: url(../image/singup_images/bg2.png);
	}
	50%{
		background-image: url(../image/singup_images/bg1.jpg);
	}
	75%{
		background-image: url(../image/singup_images/bg2.png);
	}
	100%{
		background-image: url(../image/singup_images/bg1.jpg);
	}
}
body
{
	
	

}
.singup_container
{
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: url(../image/singup_images/bg1.jpg);
	background-size: cover ;


	vertical-align: middle;
	align-items:center;
	@include animation(changebg 40s linear infinite);
	.singup-bg
	{
	
	width: 100%;
		height: 100%;
	position: fixed;
		vertical-align: middle;
	align-items:center;
	display: flex;
	background-color: rgba(0,0,0,.35);


	background-position: center;
	} 
	.singup_body
	{

		overflow: hidden;
		margin:0 auto;
		padding: 30px;
		border-radius: 5px;
		position: relative;
		&::before{
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			background:#fff;
			top: 0;
			background-size: 100% 100%;

			filter: blur(0px);
			opacity: .3;
			left: 0;
		}
		.head-singup
		{
width: 100%;
label{
	width: 85px;
	height: 85px;
	background: #EBEAE7;
	display: flex;
	border-radius: 100%;
	overflow: hidden;
	cursor: pointer;
	margin: 0 auto;
	vertical-align: middle;
	align-items:center;
	position: relative;
justify-content:center;
//@include transition(.4s ease-in-out);
border:2px solid transparent;

&:hover {
img.profile
{
	@include filter(brightness(80%));
}

	img.camera{

	opacity: 1 !important;
	z-index: 3;
}}
	i{
		font-size: 30px;
		margin:0 auto;
		display: flex;
	}
	input{
		opacity: 0;
		position: absolute;

	}
	img{
		width: 100%;
		height: 100%;
		object-fit:cover;
		position: absolute;
		top: 0;
		@include transition(.2s ease-in-out);
		&.camera
		{
			width: 70px;
			object-fit:none;
			margin:0 auto;
			


		}
	}

}
		}
		
	}
}
.singup-content
{
	padding-top: 30px;


	.content-form
	{
		padding: 10px 0;
		width: 470px;
		overflow: hidden;
		.singup-label
		{
			width: 150px;
			float: left;
			padding: 10px 0;
			label{
				font-size: 16px;
				font-weight: 600;
				color: #fff;
			}
		}
		.singup-form
		{
			width: 320px;
			overflow: hidden;
			float: left;
			&:hover button{
				opacity: 1;
				z-index: 2;
			}
			.show-hide-password
	{
		position: absolute;
		right: 10px;
		top: 10px;
		opacity: 0;
		font-size: 16px;
		z-index: -9;
		background: transparent;
		color: #fff; 	
		border:0;

		&:focus{
			outline: 0;
		}
	}
			input{
				width: 100%;
				background: transparent !important;
				border-radius: 3px;
				overflow: hidden;
				padding: 10px 10px;
				box-sizing:border-box;
				border:1.5px solid #f0f0f0;
				font-size: 16px;
				color: #fff;
				letter-spacing: 1.2px;
				&:-webkit-autofill, &:-webkit-autofill:hover, 
&:-webkit-autofill:focus{
					background-color:transparent !important;
					color: #fff !important;
				}
				

				&[type=password]
				{
					 -webkit-text-security: square;
  					 -moz-text-security:square;
     				text-security:square;
				}
				&:focus{
					outline: 0;
				}

			}
		}
	}
}
.singup-foot
{
	padding-top: 20px;
	.allready
	{
		padding: 10px 0;
		float: left;
		a{
			text-decoration: none;
			font-size: 16px;
			font-weight: 500;
			color: #E4C140;
		}
	}
	.submit-area
	{
		float: right;
		button{
			padding: 10px 30px;
			border:2px solid transparent;
			border-radius: 2px;
			font-size: 16px;
			font-weight: 500;
			color: #fff;
			background: #E4C140;
			@include transition(.2s ease-in-out);
			&:hover{
			//	background: transparent;
			//	border:2px solid #E4C140;
			//	color: #E4C140;
			}
		}
	}
}